
.btn-next {
    background:#1e1a8e;
    width: 100%;
    border: none;
    color: #fff;
    padding: 4% 1%;
    position: absolute;
    bottom:0;
}
.container-menu{
position: absolute;
bottom:0px;
 right:0px;
 left: 0px;
margin-bottom: 50px;
}

.dropup {
 background-color: #fff;
 border-radius: 5px;
 border: 1px solid #ddd;
 padding-top: 5px;
}
.dropup button {
 margin-left: 20px;
 border: solid 1px black;
border-radius: 100%;
}
.dropup .pickup-location{
 margin-left: 20px;
 display: inline-block;
 vertical-align: middle;
}

.dropup .list-car {
 width: 85%;
 margin-bottom: 15px;
}

/*#car-list, #direction{
    width: 70%;
    list-style: none;
    background: #fff;
    position: absolute;
    margin: 0;
    bottom: 110px;
    margin-left: 5px;
    padding: 0;
    border-radius: 10px;
    display: block;
}

#direction{
    bottom: 50px;
    width: 100%;
    
}
#location-icono{
    border-radius: 100%;
    border: 2px solid black;
    padding: 1%;
    margin-left: 5%;
    margin-top: 3%;
}*/
