.btn-next {
    background:#1e1a8e;
    width: 100%;
    border: none;
    color: #fff;
    padding: 4% 1%;
    position: absolute;
    bottom:0;
}
#car-list {
    width: 70%;
    list-style: none;
    background: #fff;
    position: absolute;
    margin: 0;
    bottom: 110px;
    margin-left: 5px;
    padding: 0;
    border-radius: 10px;
    display: block;
}
